body {
    margin: 0;
    background: #EEF2F7;
    font-family: system-ui, -apple-system, sans-serif;
}

/* 컨테이너 */
.container {
    max-width: 420px;
    margin: 0 auto;
    padding: 28px 20px;
    text-align: center;
}

/* 타이틀 */
.title {
    font-size: 28px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 8px;
}

/* 설명 */
.subtitle {
    font-size: 18px;
    color: #6B7280;
    margin-bottom: 24px;
}

/* 버튼 공통 */
.primary-btn {
    width: 100%;
    border: none;
    border-radius: 14px;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 12px;
}

/* 카드 리스트 */
.age-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* 카드 */
.age-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    background: white;
    padding: 18px 20px;
    border-radius: 16px;
    border: 1px solid #E5E7EB;
    cursor: pointer;
    transition: all 0.2s ease;
}

.age-card:hover {
    background: #F9FAFB;
}

.age-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* 아이콘 */
.age-icon {
    font-size: 38px;
    width: 20px;
    text-align: center;
    padding: 0 35px;
}

/* 텍스트 */
.age-label {
    font-size: 16px;
    font-weight: 600;
    color: #374151;
}

.age-desc {
    font-size: 16px;
    font-weight: 600;
    color: #374151;
}

.btn-area {
    margin-top: 40px;
}

.location-btn {
    width: 100%;
    background: rgb(90, 135, 233);
    color: white;
    border: none;
    border-radius: 14px;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 24px;
    cursor: pointer;
}

.location-btn:hover {
    background: rgb(90, 135, 233);
}

.emergency-btn {

    width: 100%;

    background: #f06464;
    color: white;

    border: none;
    border-radius: 14px;

    padding: 16px;

    font-size: 16px;
    font-weight: 600;

    margin-bottom: 12px;

}

.emergency-btn:hover {
    background: #f06464;
}